<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}.%M %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.pdfbox" level="ERROR">
            <AppenderRef ref="org.apache.pdfbox" level="ERROR"/>
        </Logger>
        <Logger name="org.apache.fontbox" level="ERROR">
            <AppenderRef ref="org.apache.fontbox" level="ERROR"/>
        </Logger>
        <Logger name="scanning" level="debug">
            <AppenderRef ref="Console" level="debug"/>
        </Logger>
        <Root level="error">
            <!-- Hinweis: hier kein Appender verwenden, es wird sonst alles doppelt geloggt -->
            <!-- <AppenderRef ref="Console"/> -->
        </Root>
    </Loggers>
</Configuration>